body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: #fff;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-family: 'Lobster', cursive;
    font-size: 48px;
    text-align: center;
    margin-top: 20px;
    color: #ffdd57;
  }
  
  input[type="text"] {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 300px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #ffdd57;
    outline: none;
  }
  
  input[type="text"]:focus {
    border-color: #ffcc00;
  }
  
  /* Стилі для "Results" */
  .results-header {
    text-align: center;
    font-size: 24px;
    color: #ffdd57;
    margin: 20px 0;
  }
  
  .movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .movie {
    width: 200px;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
  }
  
  .movie:hover {
    transform: scale(1.05);
  }
  
  .movie img {
    width: 100%;
  }
  
  .movie-title {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffdd57;
  }
  
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffdd57;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #ffc107;
  }
  